body {
    background-color: dimgray;
    padding:15px;
}
.border {
    border-radius:10px;
    border:0;
    border-color: none;
}
.border1 {
    border-radius:0px;

}
.bg {
    background-color: #e2e2e2;
}
.fa-angle-down {
    color:white;
}
.btn-sm {
    margin-top: 3%;
    border-radius: 10px;
}
#expand {
    padding-top: 50%;
    vertical-align: middle;
}
.bg {
    padding:10px;
    margin-top:5px
}
img {
    border-radius: 10px
}